:root {
    position: absolute;
}

.location {
    background-color: rgb(107, 142, 35);
    width: 100px;
    height: 100px;
    -unity-text-align: middle-center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    color: rgb(240, 230, 140);
}
