:root {
    position: absolute;
}

.location {
    background-color: rgb(25, 185, 157);
    width: 100px;
    height: 100px;
    -unity-text-align: middle-center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
